{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{% block title %}Document{% endblock %}</title> <!--Esto iría en el título de documento-->
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    {% block header %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">MENU</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
   
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'cliente:client_list' %}" >Cliente</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'producto:product_list' %}" >Producto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'producto:productType_list' %}" >Tipo Producto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'venta:sale_list' %}" >Venta</a>
          </li>
        </ul>
      </div>
    </nav>
   {% endblock %}

   {% block content %}
     
   {% endblock %}
</body>
</html>
