<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{% block title %}Document{% endblock %}</title> <!--Esto iría en el título de documento-->
</head>
<body>
    {% block header %}
      <h4>Esto es el header</h4>
   {% endblock %}

   {% block content %}
     
   {% endblock %}
   {% block footer %}
       <h6>Este es el footer</h6>
   {% endblock %}
</body>
</html>
