{% extends 'base/base.html'%}
{% block title %}Página de Productos {% endblock %}

{% block content %}
<br>
<br>
<div align="center">
<div class="card border-primary mb-3" style="max-width: 50rem;" align="justify">
 <div class="card-header"><H4> Formulario de Registro Producto </div>
 <div class="card-body">
   <form method="POST">
       {% csrf_token %}
       <h3>¿Estas seguro que quieres eliminar el registro?{{object.name}}</h3>
       <button type="submit" class="btn btn-danger">Si, Eliminar</button>
       <a href="{% url 'producto:product_list'%}" class="btn btn-primary">Cancelar</a>
   </form>
 </div>
</div>
</div>
{% endblock %}
