{% extends 'base/base.html'%}
{% block content %}
<div class="container">
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>CANTIDAD</th>
                <th>PRECIO</th>
                <th>DESCRIPCIÓN</th>
                <th>MARCA</th>
                <th>TIPO PRODUCTO</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            {% if object_list %} <!--Sirve si los campos estan registrados en la tabla-->
            {% for sale in object_list %} <!--Se llenaran lo registros de cada fila(es un ciclo)-->
                <tr>
                    <td>{{sale.id}}</td>
                    <td>{{sale.date}}</td>
                    <td>{{sale.discount}}</td>
                    <td>{{sale.subtotal}}</td>
                    <td>{{sale.total}}</td>
                    <td>{{sale.user}}</td>
                    <td>{{sale.clients}}</td>
                    <td>
                        <a href="" class="btn btn-primary">Editar</a>
                        <a href="" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            {% endfor %} <!--Se finalizaría el ciclo-->
            {% else %} <!--Si la tabla está vacía-->
                <h1>No hay Registros</h1>
            {% endif %}<!--Fin del ciclo for-->

        </tbody>
    </table>
</div>
{% endblock %}