{% extends 'base/base.html'%}
{% block title %}Página de Cliente {% endblock %}
{% block content %}
<br>
<a href="{% url 'cliente:client_new' %}" class="btn btn-success">Añadir</a>
<hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>APELLIDO</th>
                <th>IDENTIFICACIÓN</th>
                <th>DIRECCIÓN</th>
                <th>TELEFONO</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            {% if object_list %} <!--Sirve si los campos estan registrados en la tabla-->
            {% for client in object_list %} <!--Se llenaran lo registros de cada fila(es un ciclo)-->
                <tr>
                    <td>{{client.id}}</td>
                    <td>{{client.name}}</td>
                    <td>{{client.lastname}}</td>
                    <td>{{client.rut}}</td>
                    <td>{{client.address}}</td>
                    <td>{{client.phone}}</td>
                    <td>
                        <a class="btn btn-primary" href="{% url 'cliente:client_edit' client.id %}">Editar</a>
                        <a class="btn btn-danger" href="{% url 'cliente:client_delete' client.id %}">Eliminar</a>
                    </td>
                </tr>
            {% endfor %} <!--Se finalizaría el ciclo-->
            {% else %} <!--Si la tabla está vacía-->
                <h1>No hay Registros</h1>
            {% endif %}<!--Fin del ciclo for-->

        </tbody>
    </table>
{% endblock %}
