{% extends 'base/base.html'%}
{% block title %}Página de Cliente {% endblock %}
{% block content %}
<h5>Este es el contenido de Clientes</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis nisi beatae praesentium excepturi accusamus quidem iste totam nostrum. Nostrum, cum. Accusamus eos exercitationem animi dicta, labore beatae fugiat saepe omnis!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt optio consequuntur qui molestias ex fugit vero commodi incidunt. Et voluptates placeat consequatur quod vitae ea nostrum culpa, reprehenderit optio iure!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus sunt qui modi molestias dolor sequi nobis voluptas distinctio tempora nemo. Optio veritatis corporis quasi magnam ea animi provident, ut vel?</p>
{% endblock %}
